manifest {
  author = 'Paolo Sonego'
  name = 'Assembly de novo pipeline'
  version = '0.0.1'
  description = 'Basic proof of concept of an assembly de novo pipeline implemented with Nextflow' 
  nextflowVersion = '>= 22.10.4'
}

process {
  cpus = 3

  withName:NANOPLOT {
    container = 'quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0'
  }
  withName:FILTLONG {
    container = 'quay.io/biocontainers/filtlong:0.2.1--hd03093a_1'
  }
  withName:FLYE {
    container = 'quay.io/biocontainers/flye:2.9.1--py39h6935b12_0'
  }
  withName:BANDAGE {
    container = 'quay.io/biocontainers/bandage:0.8.1--hc9558a2_2'
  }
  withName:MEDAKA {
    container = 'quay.io/biocontainers/medaka:1.7.2--py38h6239ad4_1'
  }
  withName:INSPECTOR {
    container = 'quay.io/biocontainers/inspector:1.2--hdfd78af_0'
  }
}

docker {
    enabled = true
}
