manifest {
  author = 'Marco Moretto'
  name = 'RNA assembly and annotation pipeline'
  version = '0.0.1'
  description = 'Exercise for the GRAPEDIA Training School' 
  nextflowVersion = '>= 22.10.4'
}

process {
  cpus = 3
  withName:TRIMMOMATIC {
    container = 'gts/trimmomatic'
  }
  withName:'TRINITY' {
    container = 'quay.io/biocontainers/trinity:2.13.2--hea94271_3'
  }
  withName:CPC2 {
    container = 'gts/cpc2'
  }
  withName:INTERPROSCAN {
    container = 'gts/interproscan'
  }
}

docker {
  enabled = true
}
